/**
*
*
**/

.ui-content{
	background-color: #DBE6C6;
}
	#barra-superior{
		margin-top: -15px;
		margin-left: -15px;
		margin-right: -15px;
		height: 20px;
		background-color: #231F20;
		-moz-border-radius: 0px 0px 4px 4px;
		-webkit-border-radius: 0px 0px 4px 4px;
		border-radius: 0px 0px 4px 4px;
		/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
		-moz-box-shadow: 0px 0px 7px #231f20;
		-webkit-box-shadow: 0px 0px 7px #231f20;
		box-shadow: 0px 0px 7px #231f20;
		/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	}
	#logo{
		text-align: center;
		margin: 0 auto;
		padding-top: 5px;
	}
		#logo h1{
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
		.logo{
			width: 190px;
			height: 50px;
		}
		.sub-logo{
			padding-top: 0px;
			margin-top: 0px;
		}
	.login{
		padding-left: 30px;
		padding-right: 30px;
	}
		#contrasena, #usuario{
			width: 100%;
			font-size: 0.8em;
			border: 0px;
		}
	.redes p{
		text-align: center;
		font-size: 0.7em;
		vertical-align: middle;
	}
		.redes a{
			margin: 1em auto;
			vertical-align: middle;
			padding-left: 10px;
			padding-right: 10px;
		}
		.redes img{
			width: 25px;
			height: 20px;
		}
	.iconos{
		margin: 1em auto;
		text-align: center;
	}
		.iconos ul{
			list-style: none;
			text-align: center;
			padding: 0px;
		}
		.iconos a{
			display: inline-block;
			font-size: 0.4em;
		}
		.conos a:not(first-child){
			padding-left: 20px;
		}
		.iconos img{
			width: 60px;
			height: 55px;
		}
	.contenedor-boton{
		padding-left: 30px;
		padding-right: 30px;
	}
	#pie{
		font-size: 0.6em;
	}
	#pie ul{
		list-style: none;
		padding-left: 30px;
		padding-right: 30px;
		text-align: center;
	}
	#pie a{
		display: inline-block;
		vertical-align: middle;
	}
	#pie img{
		height: 30px;
		width: 80px;
		position: relative;
		float: right;
	}