
	<article data-role="content">
		<!-- #barra-superior -->
		<div id="barra-superior">
		</div>
		<!-- /#barra-superior -->
		<!-- #logo -->
		<div id="logo">
			<h1>
				<img src="images/logo.png" alt="Onfan" class="logo">
			</h1>
			<!-- .sub-logo -->
			<p class="sub-logo" >
				<span data-translate="especialidades-gastronomicas">especialidades gastron&oacute;micas</span>
			</p>
			<!-- /.sub-logo -->
		</div>
		<!-- /#logo -->
		<!-- #contenido -->
		<section id="contenido">
			<!-- .login -->
			<div class="login">
				<form id="frmLogin" name="frmLogin" action="que-quieres.html" method="post" data-ajax="false">
					<ul data-role="listview" data-inset="true">
						<li data-role="fieldcontain">
							<label for="usuario" class="ui-hidden-accessible" data-translate="usuario">Usuario</label>
							<input type="text" name="usuario" id="usuario" value="" placeholder="Usuario" data-translate="usuario">
						</li>
						<li data-role="fieldcontain">
							<label for="contrasena" class="ui-hidden-accessible" data-translate="contrasena">Contrase&ntilde;a</label>
							<input type="password" name="contrasena" id="contrasena" value="" placeholder="Contraseña" data-translate="contrasena">
						</li>
						<li data-role="fieldcontain" style="display: none;">
							<input type="submit" name="btn-ingresar" id="btn-ingresar" value="Ingresar" data-translate="ingresar">
						</li>
					</ul>
				</form>
			</div>
			<!-- /.login -->
			<!-- .redes -->
			<div class="redes">
				<p>
					<span data-translate="o-inicia-sesion-con">O inicia sesi&oacute;n con </span>
					<a href="#">
						<img src="images/facebook.png" alt="Iniciar sesi&oacute;n con Facebook" data-translate="iniciar-sesion-con-facebook">
					</a>
					<span data-translate="o">o</span>
					<a href="#">
						<img src="images/twitter.png" alt="Iniciar sesi&oacuten con Twitter" data-translate="iniciar-sesion-con-twitter">
					</a>
				</p>
			</div>
			<!-- /.redes -->
			<!-- .iconos -->
			<div class="iconos">
				<ul>
					<a href="#">
						<img src="images/logo-encuentra.png" alt="Encuentra" data-translate="img-encuentra">
						<h2 data-translate="encuentra">Encuentra</h2>
					</a>
					<a href="#">
						<img src="images/logo-comparte.png" alt="Comparte" data-translate="img-comparte">
						<h2 data-translate="comparte">Comparte</h2>
					</a>
					<a href="#">
						<img src="images/logo-participa.png" alt="Participa" data-translate="img-participa">
						<h2 data-translate="participa">Participa</h2>
					</a>
				</ul>
			</div>
			<!-- /.iconos -->
			<!-- .contenedor-boton -->
			<div class="contenedor-boton">
				<a href="registro.html" data-role="button" class="boton" data-translate="quieres-probarnos">&iquest;Quieres probarnos?</a>
			</div>
			<!-- /.contenedor-boton -->
		</section>
		<!-- /#contenido -->
		<!-- #pie -->
		<div id="pie">
			<ul>
				<a href="#" data-translate="has-olvidado-tu-contrasena">&iquest;Has olvidado tu contrase&ntilde;a?</a>
				<a href="#">
					<img src="images/marca.png" alt="Onfan SL 2012">
				</a>
			</ul>
		</div>
		<!-- /#pie -->
	</article>
	<!-- /content -->

<!-- /page -->

<!-- color de fondo: #DBE6C6 -->