
<div data-role="content" >	
	<p><a data-role='actionsheet' data-sheet='nueva-especialidad-1' data-translate="anadir-nueva-especialidad" >A&ntilde;adir nueva especialidad</a></p>

	<hr />
	<div>
		<img src="images/user.png" style="vertical-align: middle;"><strong>Ismael Barros</strong>
	</div>
	<hr />
	<div data-role="controlgroup">
		<a href="#" data-role="button" data-icon="star" data-translate="novedades">Novedades</a>
		<a href="#" data-role="button" data-icon="star" data-translate="prescriptores">Prescriptores</a>
		<a href="#" data-role="button" data-icon="star" data-translate="fans">Fans</a>
		<a href="#" data-role="button" data-icon="star" data-translate="mis-especialidades">Mis especialidades</a>
		<a href="#" data-role="button" data-icon="star" data-translate="leer-codigo-qr">Leer c&oacute;digo QR</a>
		<a href="#" data-role="button" data-icon="star" data-translate="realidad-aumentada">Realidad aumentada</a>
	</div>
	<hr />
	<div>
		<p><a href="" data-role="button" data-translate="configuracion">Configuraci&oacute;n</a></p>
	</div>
	<div id='nueva-especialidad-1' style="display:none;">
		<p><a href="#" data-role="button" data-translate="foto-desde-biblioteca" >Usar foto de la biblioteca</a></p>
		<p><a href="#" data-role="button" data-translate="foto-desde-camara" >Tomar una foto</a></p>
	</div>

</div><!-- /content -->

<div data-role="footer" data-position="fixed">
    <a href="#" data-role="button" data-icon="grid" data-iconpos="notext" data-rel="back" ></a>
	<strong>Onfan</strong>
	<div data-role="controlgroup" data-type="horizontal" data-mini="true" class="ui-btn-right ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
		<a href="#" data-role="button" data-icon="star" data-iconpos="notext"></a>
		<a href="#" data-role="button" data-icon="home" data-iconpos="notext"></a>
	</div>
</div><!-- /footer -->
